@import url(base.css);
header{
	width: 100%;height: .88rem;
	background: #3B67FA;
}
/*导航*/
.gxf-fanhui{
	width: .5rem;height: .5rem;
	float: left;
	margin-top: .2rem;
	margin-left: .24rem
}
.gxf-fanhui img{
	width: 100%;
	float: left;
}
.gxf-inbox{
	width: 4.11rem;height: .45rem;
	border:0px;
	display: inline-block;
	margin:0 auto;
	margin-left: 0.95rem;
	padding:0 .1rem;
	border-radius: .3rem;
	background: #5179FA;float: left;
	margin-top: .21rem;
}
.gxf-sousuo{
	float: left;
	width: .27rem;height: .41rem;
	/*margin-top: .2rem;*/
}
.gxf-sousuo img{
	width: 100%;
	float: left;
	margin-top: .1rem;
}
.gxf-inbox input{
	float: left;
	width: 3.5rem;height: .42rem;
	background: #5179FA;
	border:0px;
	padding:0 .1rem; 
	box-sizing:border-box;
	font-size: 0.24rem;

}
.gxf-quxiao{
	float: right;
	font-size:.3rem;
	margin-top: .22rem;
	margin-right: .24rem;
	color:#FDFDFF;

}
                       /*中间*/
.gxf-remen{
	font-size: .28rem;
	color:black;
	text-align: center;
	margin-top: .6rem;
	font-weight: bold;
}
.gxf-shentibox{
	width: 6.3rem;height: 2.5rem;
	margin:0 auto;
	margin-top: .55rem;
}
.gxf-taiyuan{
	width: 1.8rem;height: .6rem;
	background:url(../images/gxf-2.png);
	background-size:100%;
	float: left;
	margin-right: .35rem;
	margin-left: .05rem;
}
.gxf-taiyuan:nth-child(3),.gxf-datong:nth-child(3){
	margin-right: 0;
}
.gxf-diyi{
	height: .6rem;
}
.gxf-taiyuan p,.gxf-jinzhong p,.gxf-datong p{
	font-size: .22rem;
	line-height: .65rem;
	color:#fff;
	text-align: center;
}
.gxf-dier{
	height: .6rem;
	margin-top: .42rem;
}
.gxf-jinzhong{
	width: 1.8rem;height: .6rem;
	background:url(../images/gxf-3.png);
	background-size:100%;
	float: left;
	margin-left: 1.1rem;
}
.gxf-jinzhong:nth-child(2){
	margin-left: .6rem;
	width: 1.8rem;height: .6rem;
	background:url(../images/gxf-2.png);
	background-size:100%;
	float: left;
	margin-left: .6rem;
}
.gxf-disan{
	height: .6rem;
	margin-top: .3rem;
}
.gxf-datong{
	width: 1.8rem;height: .6rem;
	background:url(../images/gxf-2.png);
	background-size:100%;
	float: left;
	margin-right: .45rem;
}

