body{
	background: url(../images/zwb-bj.jpg);
    background-size:100%;
    	 font-family:"к╗ий";
    	     	 overflow:hidden;
}
.zwb-head{
	width: 6.93rem;
	height: 0.38rem;
	margin: 0.68rem 0.24rem;
		text-align: center;

}
.zwb-head img{
	width: 0.33rem;
	height: 0.33rem;
	float: left;

}
.zwb-wbxc{
	color: #fff;
	font-size: 0.36rem;
	float: left;
	margin-left:2.5rem; 
}
.zwb-wc{
	color: #fff;
	font-size: 0.36rem;
	float: right;
}
.zwb-xc{
	width: 100%;
    box-sizing: border-box;
}
.zwb-xc li {
	width: 100%;
	padding: 0.01rem 0.24rem;
    box-sizing: border-box;
	display: flex;
	align-items:center;
	justify-content: space-between;



}
.zwb-xc li div img{
	width: 2.15rem;
	height: 2.15rem;
}
.zwb-ha{
	position: relative;
}
.zwb-xc li div .zwb-ldg{
	width: 0.24rem;
	height: 0.24rem;
	position: absolute;
	right: 0.1rem;top:0.1rem;
}