@import url(base.css);
body{
	display: flex;
	flex-direction:column;
}
.topbar3{
	height: .88rem;
	/*line-height: .88rem;*/
	background: #3867FA;
	display: flex;
	align-items:center;
	flex:0 1 auto;
}
.topbar3 .l{
	margin-left: .23rem;
	/*margin-top: .21rem;*/
	width: .46rem;
	height: .46rem;
	background: url(../images/2.png) center center/cover no-repeat;
}
.topbar3 .m{
	width: 3.01rem;
	height: .48rem;
	margin-top: .12rem;
	margin-left: 1.6rem;
	background: url(../images/13.png) center center/cover no-repeat;
}

.contentbox5{
	position: relative;
	display: flex;
	flex-grow:1;
	overflow: auto;
	height: 10.14rem;
}
.contentbox5>*{
	flex-shrink:0;
}
.tilt{
	background: #2B5EFF;
	position: relative;
	height: .93rem;
	width: 100%;
}
.tilt a{
	color: #fff;
	float: left;
	width: 33.33%;
	text-align: center;
	height: 100%;
	line-height: .93rem;
	font-size: .3rem;
	position: relative;
}
.contentbox5 .tilt a.active{
	background: #4280FF;
}
.tilt a.active .sj{
	position: absolute;
	left: 50%;
	top: .93rem;
	margin-left:-0.12rem ;
	width: 0;
	height: 0;
	border: .19rem solid #4280FF;
	border-bottom-color:transparent; 
	border-right-color:transparent; 
	border-left-color:transparent; 
} 
.infomationbox{
	position: absolute;
	left: 0;
	top:.93rem;
	display: flex;
	flex-direction:column;
	justify-content:;
	align-items:center;
	font-size: .3rem;
	width: 100%;
}
.address{
	height: 1.5rem;
	width: 100%;
	display: -webkit-flex; /* Safari */
  	display: flex;
	justify-content:space-between;
	align-items:center;
}
.address .s1{
	margin-left: .92rem;
}
.address .s2{
	margin-right: .92rem;
}
.time{
	display: -webkit-flex; /* Safari */
  	display: flex;
	height: 1.5rem;
	width: 100%;
	justify-content:space-between;
	align-items:center;
}
.time .s1{
	margin-left: .92rem;
}
.time .s2{
	margin-right: .92rem;
}
.choosebox{
	display: flex;
	align-items:center;
	justify-content:space-between;
	width: 100%;
	height: 1.2rem;
}
.choosebox input{
	width: 2.2rem;
	height: 1.2rem;
	background: #F5F5F5;
	line-height: 1.2rem;
	text-align: center;
	border-radius: 7px;
}
.choosebox .start{
	margin-left:.43rem; ;
}
.choosebox .end{
	margin-right:.43rem ;
}
.choosebox span{
	background: url(../images/fly.png) center center/cover no-repeat ;
	width: .64rem;
	height: .5rem;
}
.timeselect{
	font-size: .22rem;
	display: flex;
	align-items:center;
	justify-content:space-between;
	width: 7rem;
	height: 1.2rem;
	background: #F5F5F5;
	border-radius: 7px;
}
.timeselect .startTime{
	display: flex;
	align-items:center;
	justify-content:space-between;
	width: 2.2rem;
	height: 100%;
	margin-left: .2rem;
}
.timeselect .startTime>span{
	width:.54rem;
	height: .56rem;
	background: url(../images/daily.png) center center/cover no-repeat;
}
.timeselect .endTime{
	margin-right: .15rem;
	display: flex;
	align-items:center;
	justify-content:space-between;
	width: 2.2rem;
	height: 100%;
}
.timeselect .endTime>span{
	width:.54rem;
	height: .56rem;
	background: url(../images/daily.png) center center/cover no-repeat;
}
.timeselect .day{
	font-size: .32rem;
	margin:0 0.1rem;
}
.timeselect .days>p{
	display: flex;
	font-size: 0.24rem;
	align-items:center;
}
.timeselect .days>p>span{

}
.clients{
	display: flex;
	align-items:center;
	justify-content:space-between;
	flex-direction:column; 
	width: 7rem;
	font-size: .3rem;
}
.client-titl{
	height:1.5rem;
	width: 100%;
	display: flex;
	align-items:center;
	justify-content:space-between;
}
.client-titl div{
	width: 33.33%;
	height: 100%;
	line-height:1.5rem ;
	text-align: center;
}
.client-num{
	width: 100%;
	display: flex;
	align-items:center;
	justify-content:space-between;
}
.client-num div{
	width: 2.25rem;
	height: 1.2rem;
	border-radius: 7px;
	background: #F5F5F5;
	display: flex;
	align-items:center;
	justify-content:space-around;
}
.client-num div a{
	color: #3867FA;
}


.footer{
	display: block;
	width: 100%;
	height: 1rem;
	background: #3163FF;
	position: fixed;
	bottom:0;
	left:0;
	text-align: center;
	line-height: 1rem;
	font-size: 0.28rem;
	color: #FFFFFf;
}












