.bank{ background:url("bank.png") top left no-repeat; }
.组_14_r2_c2{ width:55px; height:55px; background-position:-10px -10px; }
.组_14_r16_c4{ width:52px; height:52px; background-position:-10px -75px; }
.组_14_r10_c3{ width:52px; height:52px; background-position:-10px -137px; }
.组_14_r8_c3{ width:52px; height:52px; background-position:-10px -199px; }
.组_14_r14_c6{ width:48px; height:51px; background-position:-10px -261px; }
.组_14_r12_c5{ width:49px; height:50px; background-position:-10px -322px; }
.组_14_r18_c7{ width:44px; height:41px; background-position:-10px -382px; }
.组_14_r6_c5{ width:49px; height:41px; background-position:-10px -433px; }
.组_14_r3_c15{ width:28px; height:27px; background-position:-10px -484px; }
.组_14_r20_c13{ width:23px; height:23px; background-position:-10px -521px; }

